<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/Astronauta.png" alt="" width="40" height="34" class="d-inline-block align-text-top">
        JR-Planet
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link"  href="/service"><i class="bi bi-bag-fill"></i> Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="bi bi-exclamation-circle-fill"></i> Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="bi bi-send-fill"></i> Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-heart-fill"></i> Inicia sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
<br>
<br>
